<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layoutDefault">
<head>
	<title></title>
</head>
<body>
	<section layout:fragment="content" class="main-panel">
	    	<nav class="navbar navbar-default">
	            <div class="container-fluid">
	                <div class="navbar-header">
	                    <a class="navbar-brand" href="#">Home</a>
	                </div>
	            </div>
	        </nav>
            <p> * Nesse sistema é utilizado para realizar o cadastro e consulta de novos jogadores. Selecione uma opção ao lado esquerdo!</p>
	        <footer class="footer">
	            <div class="container-fluid">
	            </div>
	        </footer>
	</section>
</body>
</html>
